*/_CommonRedist/
*/media
./MonoBleedingEdge
./rocketstation_DedicatedServer_Data
MonoBleedingEdge
rocketstation_DedicatedServer_Data
**/_CommonRedist/
MonoBleedingEdge/
rocketstation_DedicatedServer_Data/
*/CommonRedist
*/saves