*/_CommonRedist/
*/media
./MonoBleedingEdge
./rocketstation_DedicatedServer_Data
MonoBleedingEdge
rocketstation_DedicatedServer_Data
**/_CommonRedist/
MonoBleedingEdge/
rocketstation_DedicatedServer_Data/
*/CommonRedist
*/saves
UnityCrashHandler64.exe
UnityPlayer.dll
setting.xml
rocketstation_DedicatedServer*
/saves/*
.github/workflows/nightly-sync.yml
repos.md
UIMod/*.pem
build/StationeersServerControl*
build/StationeersServerUI_*
Blacklist.txt
UIMod/detectionmanager/customdetections.json
UIMod/tls/cert.pem
UIMod/tls/key.pem
steamapps/**
steamcmd/**
Steam/**
rocketstation_BurstDebugInformation_DoNotShip/**
StationeersServerControlv*
StationeersServerUI_v*
UnityPlayer.so
BepInEx/**
*doorstep*
*doorstop*
run_bepinex.sh
debug.log
modconfig.xml
UIMod/config/config.json
C:/custom/file.txt
UIMod/config/customdetections.json
winhttp.dll
autostart*
__debug_bin*
frontend/node_modules
frontend/dist
frontend/build
UIMod/onboard_bundled/v2
UIMod/logs/*
.agent-context/**
.github/copilot-instructions.md
mods/**
