<config>
    <server>
        <exePath>./rocketstation_DedicatedServer.exe</exePath>
        <settings>StartLocalHost true ServerVisible true GamePort 27016 UpdatePort 27015 AutoSave true SaveInterval 300 LocalIpAddress  10.0.50.166 ServerPassword JMG AdminPassword JMG ServerMaxPlayers 1 ServerName SpaceIncDevServer</settings>
    </server>
    <saveFileName>EuropaProd</saveFileName>
</config>